asgiref==3.8.1
attrs==23.2.0
bcrypt==4.1.2
black==24.4.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.5
defusedxml==0.7.1
Django==5.0.4
django-cors==0.1
django-cors-headers==4.3.1
django-dotenv==1.4.2
django-env==0.2.1
django-rename-app==0.1.7
django-restframework==0.0.1
djangorestframework==3.15.1
djangorestframework-recursive==0.1.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
drf-spectacular-sidecar==2024.4.1
idna==3.7
inflection==0.5.1
isort==5.13.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==24.0
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.2.1
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.8.0
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.1
referencing==0.35.0
requests==2.31.0
requests-oauthlib==2.0.0
rpds-py==0.18.0
six==1.16.0
sqlparse==0.5.0
uritemplate==4.1.1
urllib3==2.2.1
