

<html lang="en" class="__className_aaf875 v0-streaming-finished">

<!-- @format -->
<html lang="en" class="__className_aaf875">

  <link type="text/css" rel="stylesheet" id="dark-mode-custom-link" /><link
    type="text/css"
    rel="stylesheet"
    id="dark-mode-general-link"
  />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="preload"
    href="/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2"
    as="font"
    crossorigin=""
    type="font/woff2"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Inter:,i,b&amp;display=block"
    rel="stylesheet"
    data-precedence="v0_font"
  />
  <title>Password Reset | Store Hunt</title>
  <link rel="canonical" href="https://v0.dev/t/JmbS9osQm1e" />
  <meta name="next-size-adjust" />

  <body style="font-family: inter">
    <div
      class="main-template-wrapper"
      data-id="1"
      style="
        margin: 0 auto;
        max-width: 85vw;
        width: 30rem;
        background-color: #2424240e;
        border-radius: 0.5rem;
        min-height: max-content;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 5%;
        align-items: center;
        position: relative;
        padding: 2rem;
      "
    >
      <div
        class="flex items-center justify-center"
        data-id="2"
        style="
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <div
          class="mx-auto"
          data-id="3"
          style="
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 1rem;
          "
        >
          <div
            class="bg-[#f0f0f0] rounded-full p-2"
            data-id="4"
            style="
              background-color: #f0f0f0;
              width: 12rem;
              border-radius: 5rem;
              height: 6rem;
              display: flex;
              align-items: center;
            "
          >
            <svg
              width="65"
              height="69"
              viewBox="0 0 65 69"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M26.6042 14.0308L27.8002 11.1329C27.6648 11.1552 27.3209 11.2634 27.0285 11.5174C26.6631 11.8349 26.4868 11.6068 26.1751 11.4011C25.9258 11.2365 24.4376 12.1165 23.7247 12.5771C21.4746 10.7196 16.3739 6.56339 13.9722 4.79941C10.9701 2.59444 8.54525 2.22311 6.04632 2.2498C3.54739 2.27649 2.45879 4.12793 1.71515 5.53663C0.971519 6.94534 0.953478 9.39164 2.16665 17.6787C3.13718 24.3084 6.69085 32.6206 8.34637 35.9481C9.33694 35.4845 11.1852 34.425 10.6538 33.8954C9.9895 33.2335 7.45013 26.1941 5.89439 20.9213C4.33864 15.6485 4.14996 9.3784 4.34429 7.1602C4.53862 4.94199 6.20457 4.9242 8.31766 5.08979C10.4307 5.25538 15.4258 9.44612 18.5097 12.152C21.5935 14.8579 23.1854 15.2381 24.1742 15.3321C24.9653 15.4072 26.1238 14.4959 26.6042 14.0308Z"
                fill="#08090A"
                fill-opacity="0.6"
                stroke="#D9D9D9"
                stroke-opacity="0.36"
              />
              <mask id="path-2-inside-1_714_656" fill="white">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M31.2111 7.21413L2 38.7199L34.2852 69L38.4877 64.4673C28.3666 60.0954 21.2159 49.3978 21.2159 36.8945C21.2159 25.7736 26.8728 16.0812 35.2452 10.9977L31.2111 7.21413Z"
                />
              </mask>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M31.2111 7.21413L2 38.7199L34.2852 69L38.4877 64.4673C28.3666 60.0954 21.2159 49.3978 21.2159 36.8945C21.2159 25.7736 26.8728 16.0812 35.2452 10.9977L31.2111 7.21413Z"
                fill="#08090A"
              />
              <path
                d="M2 38.7199L1.26669 38.04L0.590686 38.7691L1.31591 39.4493L2 38.7199ZM31.2111 7.21413L31.8952 6.48473L31.1616 5.7967L30.4778 6.53423L31.2111 7.21413ZM34.2852 69L33.6011 69.7294L34.3347 70.4174L35.0185 69.6799L34.2852 69ZM38.4877 64.4673L39.221 65.1472L40.1826 64.1101L38.8843 63.5493L38.4877 64.4673ZM35.2452 10.9977L35.7642 11.8525L36.8897 11.1691L35.9293 10.2683L35.2452 10.9977ZM2.73331 39.3998L31.9444 7.89402L30.4778 6.53423L1.26669 38.04L2.73331 39.3998ZM34.9692 68.2706L2.68409 37.9905L1.31591 39.4493L33.6011 69.7294L34.9692 68.2706ZM37.7544 63.7874L33.5518 68.3201L35.0185 69.6799L39.221 65.1472L37.7544 63.7874ZM38.8843 63.5493C29.1491 59.3441 22.2159 49.0206 22.2159 36.8945H20.2159C20.2159 49.775 27.5842 60.8468 38.0912 65.3853L38.8843 63.5493ZM22.2159 36.8945C22.2159 26.1117 27.7 16.7489 35.7642 11.8525L34.7262 10.1429C26.0457 15.4135 20.2159 25.4354 20.2159 36.8945H22.2159ZM30.527 7.94352L34.5611 11.7271L35.9293 10.2683L31.8952 6.48473L30.527 7.94352Z"
                fill="#F3F3EE"
                mask="url(#path-2-inside-1_714_656)"
              />
              <mask
                id="mask0_714_656"
                style="mask-type: alpha"
                maskUnits="userSpaceOnUse"
                x="4"
                y="7"
                width="61"
                height="62"
              >
                <rect
                  width="42.964"
                  height="42.9374"
                  transform="matrix(0.679898 -0.733307 0.729393 0.684094 4.47061 38.7199)"
                  fill="#D9D9D9"
                />
              </mask>
              <g mask="url(#mask0_714_656)">
                <ellipse
                  cx="63.2163"
                  cy="27.6453"
                  rx="26.3532"
                  ry="28.714"
                  fill="#E5D6CB"
                />
              </svg>
            </div>
            <h1>{% block head %}Store Hunt{% endblock %}</h1>
              </g>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M35.5886 13.0173C28.3829 18.2507 23.6865 26.8189 23.6865 36.5011C23.6865 48.6411 31.0701 59.03 41.5258 63.2893L49.7247 54.4463C40.6742 49.9001 34.3925 39.9275 34.3925 28.3562C34.3925 23.4584 35.5179 18.847 37.5024 14.8123L35.5886 13.0173Z"
                fill="#BB9D88"
              />
            </svg>
          </div>

          <h1
            style="
              width: 100%;
              height: max-content;
              font-size: 2.5rem;
              margin-top: 0;
              font-weight: 500;
            "
          >
            Store Hunt
          </h1>
        </div>
        <div class="p-6" data-id="6">
          <div class="font-semibold text-2xl" data-id="7">
            {% block header %}Password Reset{% endblock %}
          </div>
          <div class="text-gray-500 dark:text-gray-400 my-4" data-id="8">
            {% block content %} You requested a password reset. Click the button
            below to complete the process. {% endblock %}
          </div>
          <div class="my-4" data-id="9">
            <a href="{% block domain %}{% endblock %}">
            <button
              class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-11 rounded-md px-8"
              data-id="10"
            >
              {% block link %} Reset Password {% endblock %}
            </button>
          </a>
          </div>
          <div class="text-gray-500 dark:text-gray-400 my-6" data-id="11">
            {% block warning %} If you did not request a password reset, please
            ignore this email or contact support. {% endblock %}
      </div>
      <div
        class="p-6"
        data-id="6"
        style="
          display: flex;
          flex-direction: column;
          font-size: 1.2rem;
          color: #6b7280;
          gap: 1rem;
        "
      >
        <div
          class="font-semibold text-2xl"
          data-id="7"
          style="
            color: #242424;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: 600;
          "
        >
          {% block header %}Password Reset{% endblock %}
        </div>
        <div
          class="text-gray-500 dark:text-gray-400 my-4"
          data-id="8"
          style="font-size: 17px; text-align: start; width: 90%"
        >
          {% block content %} You requested a password reset. Click the button
          below to complete the process. {% endblock %}
        </div>
        <div
          class="my-4"
          data-id="9"
          style="display: flex; align-items: center; justify-content: center"
        >
          <button
            class="font-weight-bolder"
            data-id="10"
            style="
              background-color: #0a0a0a;
              outline: unset;
              border: unset;
              height: max-content;
              padding: 1rem;
              margin: 0 auto;
              border-radius: 0.3rem;
              color: #fcf6f6;
              cursor: pointer;
            "
          >
            {% block link %} Reset Password {% end block %}
          </button>
        </div>
        <div
          class="text-gray-500 dark:text-gray-400 my-6"
          data-id="11"
          style="margin-bottom: 1rem; font-size: 17px"
        >
          {% block warning %} If you did not request a password reset, please
          ignore this email or contact support. {% endblock %}
        </div>
        <hr
          style="
            display: block;
            height: 0.05rem;
            width: 80%;
            border: unset;
            background-color: #d4d4d4a6;
          "
        />
        <div
          class="mt-6 border-t border-gray-200 dark:border-gray-800 pt-6 grid grid-cols-1 gap-2 text-sm"
          data-id="12"
        >
          <div
            class="flex items-center space-x-2"
            data-id="13"
            style="
              height: 2rem;
              display: flex;
              align-items: center;
              margin-bottom: 0.5rem;
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-4 h-4 opacity-50"
              data-id="14"
              style="margin-right: 5px"
            >
              <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
              <circle cx="12" cy="10" r="3"></circle>
            </svg>
            <span style="font-size: 0.9rem; color: #0a0a0a; text-align: start">
              1234 Street Rd, City, ABC 56789, USA
            </span>

          </div>
          <div
            class="flex items-center space-x-2"
            data-id="15"
            style="
              height: 2rem;
              display: flex;
              align-items: center;
              margin-bottom: 0.5rem;
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-4 h-4 opacity-50"
              data-id="16"
              style="margin-right: 5px"
            >
              <path
                d="M21.2 8.4c.5.38.8.97.8 1.6v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V10a2 2 0 0 1 .8-1.6l8-6a2 2 0 0 1 2.4 0l8 6Z"
              ></path>
              <path d="m22 10-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 10"></path>
            </svg>
            <a
              class="underline"
              data-id="17"
              href="#"
              rel="ugc"
              style="font-size: 0.9rem; color: #0a0a0a; text-align: start"
            >
              support@storehunt.com
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
